<div class="container">
    <div class="row">
        <!--user info-->
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>ℹ️ USER INFO</h3>
            <p>💁 USERNAME: {{ name }}</p>
            <p>✉️ USER EMAIL ADDRESS: {{ email }}</p>
        </div>

        <!--pitches user has posted-->
        <div class="col-lg-8 col-md-8 col-sm-6">
            <h3> SUBMITTED PITCHES</h3>
            <div>
                {% for p in pitch %}
                <p>Title: {{p.title}} </p>
                <p>Category: {{p.category}}</p>
                <p>Content of the pitch: {{p.description}}</p>
                <hr> {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}